@import "~bootstrap/scss/bootstrap.scss";

.flip{
   
    margin-top: 10px;
    margin-bottom: 10px;
}

#explore-img{
    width: 180px;
    height: 250px;
}

#explore-img2{
   
   width: 270px;
   height: 230px;
   
}